{% for color in colors %}
<a href="#" data-bs-toggle="modal" data-bs-target="#editColorModal_{{ color.color.id }}">
    <div class="color-box">
        <div class="color-image">
            {% if color.color.image %}
            <img src="{{ color.color.image }}" alt="{{ color.color.name }}"
                style="border: 1px solid #eee; border-radius: 100%; ">
            {% elif color.color.code %}
            <span class="color-code"
                style="background: {{ color.color.code }};border: 1px solid #eee; border-radius: 100%; "></span>
            {% else %}
            <i class="bx bx-image-add" style="font-size:30px; color: #677788; width: 28px; height: 28px;"></i>
            {% endif %}
        </div>
        <div class="color-desc">
            <span>{{ color.color.name }}</span>
            <span dir="ltr">{{ color.color.code }}</span>
        </div>
    </div>
</a>
<!-- Edit Color Modal -->
<div class="modal fade" id="editColorModal_{{ color.color.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3 class="secondary-font">ویرایش رنگ</h3>
                </div>
                <form method="post" enctype="multipart/form-data" action="{% url 'color_edit' color.color.id %}"
                    id="addNewCCForm" class="row g-3">
                    {% csrf_token %}
                    <div class="col-12">
                        <label class="form-label w-100">نام</label>
                        <div class="input-group input-group-merge">
                            <input name="name" class="form-control" type="text" value="{{ color.color.name }}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">کد رنگ</label>
                        <input type="text" class="form-control" name="colorCode" placeholder="#"
                            value="{{ color.color.colorCode }}" dir="ltr">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">کد محصول</label>
                        <input type="text" class="form-control" name="productCode" placeholder="#"
                            value="{{ color.color.productCode }}" dir="ltr">
                    </div>
                    <div class="col-12">
                        <label class="form-label">تصویر</label>
                        <input type="file" class="form-control" name="image">
                        {% if color.color.image %}
                        <div class="form-text">
                            <a target="_blank" href="{{ color.color.image }}">{{ color.color.image }}</a>
                        </div>
                        {% endif %}
                    </div>


                    <div class="col-12 text-center mt-4">
                        <button type="submit" class="btn btn-success me-sm-3 me-1">ویرایش</button>
                        <button type="reset" class="btn btn-label-secondary btn-reset" data-bs-dismiss="modal"
                            aria-label="Close">
                            انصراف
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Edit Color Modal -->
{% endfor %}