{% extends '../base.html' %}

{% load static %}
{% load jalali_tags %}
{% load crispy_forms_tags %}

{% block title %}ویرایش کارشناس{% endblock title %}

{% block content %}
<style>
    label {
        font-size: 0.75rem;
    }
</style>

<div class="card">
    <div class="card-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1">
                <li class="breadcrumb-item">
                    <a href="#">خانه</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'expert_list' %}">لیست کارشناسان</a>
                </li>
                <li class="breadcrumb-item active">ویرایش کارشناس</li>
            </ol>
        </nav>
    </div>

    <form class="form-horizontal error" method="post" autocomplete="off">
        <div class="card-body">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">{{ message }}</div>
            {% else %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
            {% endfor %}

            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 mb-2">
                    <label class="form-label">نام*</label>
                    <input type="text" class="form-control" name="fname" value="{{ expert.user.first_name }}" required>
                </div>
                <div class="col-md-4 mb-2">
                    <label class="form-label">نام خانوادگی*</label>
                    <input type="text" class="form-control" name="lname" value="{{ expert.user.last_name }}" required>
                </div>
                <div class="col-md-4 mb-2">
                    <label class="form-label">نام کاربری*</label>
                    <input type="text" class="form-control" name="username" value="{{ expert.user.username }}" required>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-6 mb-2">{{ form.mobile|as_crispy_field }}</div>
                <div class="col-md-6 mb-2">{{ form.id_code|as_crispy_field }}</div>
                <div class="col-md-6 mb-2 form-group mt-1">
                    <div class="form-password-toggle">
                        <label class="form-label" for="basic-default-password32">رمز عبور</label>
                        <div class="input-group input-group-merge">
                            <input type="password" name="password" itemid="password" class="form-control text-start"
                                dir="ltr" id="basic-default-password32" placeholder="············"
                                aria-describedby="basic-default-password">
                            <span class="input-group-text cursor-pointer" id="basic-default-password">
                                <i class="bx bx-hide"></i></span>
                        </div>
                    </div>
                    <button type="button" id="generate_password" class="btn btn-sm btn-label-success mt-2">تولید رمز
                        عبور</button>
                </div>
                <div class="col-md-6 mb-2">

                    <div class="form-check" style="margin-top: 2.2rem;">
                        <input class="form-check-input" type="checkbox" name="send_password" id="defaultCheck3"
                            checked="">
                        <label class="form-check-label" for="defaultCheck3">ارسال رمز عبور به شماره موبایل</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-flush-spacing">
                <tbody>
                    <tr>
                        <td class="text-nowrap">
                            دسترسی مدیریت
                            <i class="bx bx-info-circle bx-xs" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="دسترسی کامل به سیستم را اجازه می‌دهد"></i>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="selectAll">
                                <label class="form-check-label" for="selectAll"> انتخاب همه </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">مدیریت محصولات</td>
                        <td>
                            <div class="d-flex">
                                <div class="form-check mb-0 me-3 me-lg-5">
                                    <input class="form-check-input" type="checkbox" id="userManagementRead"
                                        name="permission" value="view_product"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'view_product' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementRead"> مشاهده
                                    </label>
                                </div>
                                <div class="form-check mb-0 me-3 me-lg-5">
                                    <input class="form-check-input" type="checkbox" name="permission"
                                        value="change_product" id="userManagementCreate"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'change_product' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementCreate"> ویرایش
                                    </label>
                                </div>
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="checkbox" name="permission"
                                        value="add_product" id="userManagementCreate"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'add_product' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementCreate"> ایجاد
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">مدیریت سفارشات</td>
                        <td>
                            <div class="d-flex">
                                <div class="form-check mb-0 me-3 me-lg-5">
                                    <input class="form-check-input" type="checkbox" id="userManagementRead"
                                        name="permission" value="view_order"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'view_order' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementRead"> مشاهده
                                    </label>
                                </div>
                                <div class="form-check mb-0 me-3 me-lg-5">
                                    <input class="form-check-input" type="checkbox" name="permission"
                                        value="change_order" id="userManagementCreate"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'change_order' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementCreate"> ویرایش
                                    </label>
                                </div>
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="checkbox" name="permission" value="add_order"
                                        id="userManagementCreate"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'add_order' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementCreate"> ایجاد
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">مدیریت مشتریان</td>
                        <td>
                            <div class="d-flex">
                                <div class="form-check mb-0 me-3 me-lg-5">
                                    <input class="form-check-input" type="checkbox" id="userManagementRead"
                                        name="permission" value="view_user"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'view_user' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementRead"> مشاهده
                                    </label>
                                </div>
                                <div class="form-check mb-0 me-3 me-lg-5">
                                    <input class="form-check-input" type="checkbox" name="permission"
                                        value="change_user" id="userManagementCreate"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'change_user' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementCreate"> ویرایش
                                    </label>
                                </div>
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="checkbox" name="permission" value="add_user"
                                        id="userManagementCreate"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'add_user' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementCreate"> ایجاد
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">مدیریت کارشناسان</td>
                        <td>
                            <div class="d-flex">
                                <div class="form-check mb-0 me-3 me-lg-5">
                                    <input class="form-check-input" type="checkbox" id="userManagementRead"
                                        name="permission" value="view_expert"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'view_expert' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementRead"> مشاهده
                                    </label>
                                </div>
                                <div class="form-check mb-0 me-3 me-lg-5">
                                    <input class="form-check-input" type="checkbox" name="permission"
                                        value="change_expert" id="userManagementCreate"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'change_expert' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementCreate"> ویرایش
                                    </label>
                                </div>
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="checkbox" name="permission" value="add_expert"
                                        id="userManagementCreate"
                                        {% for permission in expert.user.user_permissions.all %}{% if permission.codename == 'add_expert' %}
                                        checked {% endif %}{% endfor %}>
                                    <label class="form-check-label" for="userManagementCreate"> ایجاد
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="text-align: left; margin: 1rem 0 1rem 1rem;">
            <button type="submit" class="btn btn-label-primary mt-1">ویرایش</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('generate_password').addEventListener('click', function () {
        password = Math.random().toString(36).slice(-10);
        document.getElementById('password').value = password
    })

    document.getElementById('show_password').addEventListener('click', function () {
        pass = document.getElementById('password')
        if (pass.type === "password") {
            pass.type = "text";
        } else {
            pass.type = "password";
        }
    })
</script>
{% endblock content %}